{% extends 'base.html' %}

{% block head %}

<link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}">
<script>
var host = "{{ host }}"
var start_info = "{{ info }}"
var version = "{{ version }}"
var check_version = {{ check_version|tojson }}
</script>
<script src="{{url_for('static', filename='js/home.js')}}"></script>

{% endblock %}


{% block window_controls %}

<button id="about-btn">
  <img width="10px" height="10px" src="{{url_for('static', filename='images/about.svg')}}">
</button>

{% endblock %}

{% block body %}

<div id="container">

<div id="room-actions-frame">
  <div class="room-actions-frame-item" style="padding-right: 1vw">
    <span class="room-actions-frame-item-title">
      <img src="{{url_for('static', filename='images/crown.svg')}}">
      создать комнату
    </span>
    <div class="input-line">
      <input id="search-release" placeholder="Поиск релиза ..." oninput="searchTitles()" onfocusout="hideSearchResults();hideSearchAnimation();this.value=''">
      <button style="cursor: text;" onmousedown="document.getElementById('search-release').focus()">
        <img id="search-animation" src="{{url_for('static', filename='images/loading.gif')}}" style="transform: scale(0)">
      </button>
      <div id="search-result-container" style="display: none"></div>
    </div>
  </div>
  <div class="room-actions-frame-item" style="padding-left: 1vw">
    <span class="room-actions-frame-item-title">
      <img src="{{url_for('static', filename='images/group.svg')}}">
      подключиться к комнате
    </span>
    <div class="input-line">
      <input id="room-id-input" placeholder="Номер комнаты ..." onkeydown="if (event.key === 'Enter') {joinRoom()}">
      <button onclick="joinRoom()">
        <img src="{{url_for('static', filename='images/go.svg')}}">
      </button>
    </div>
  </div>
</div>

<hr>

<div id="history-frame">
  <span>История</span>
  <div id="history-container">
    {% for title in history %}

    <div class="history-item"
         onclick="createRoom({{ title['id'] }}, {{ title['last_watched_episode'] }})">
      <div class="history-item-card">
        <div class="poster-sizer" style="padding-bottom: 142.857%;"></div>
        <div id="poster-{{ title['id'] }}" class="history-item-poster"></div>
        <div class="progress-bar">
          <div style="width: {{ title['last_watched_episode']/title['episodes_count']*100 }}%;"></div>
          <div style="
            opacity: 0.3;
            left: {{ title['last_watched_episode']/title['episodes_count']*100 }}%;
            width: {{ 100-title['last_watched_episode']/title['episodes_count']*100 }}%;"
          ></div>
          {% if title['episodes_count'] == title['last_watched_episode'] %}
          <span>Все эпизоды</span>
          {% elif title['last_watched_episode'] == 0 %}
          <span>Ни одного эпизода</span>
          {% else %}
          <span>{{ title['last_watched_episode'] }} из {{ title['episodes_count'] }} эпизодов</span>
          {% endif %}
        </div>
      </div>
    </div>
    <script>title_ids.push({{ title['id'] }})</script>

    {% endfor %}
  </div>
</div>

</div>

<div id="about-overlay" class="overlay" data-align="right">
  <div id="about-overlay-content" class="overlay-content">
    <div id="app-title">
      <div>AniTogether</div>
      <div class="version">версия: {{version}}</div>
      <div id="check-update-btn" onclick="checkUpdate()">проверить наличие обновление</div>
    </div>
    <div>Анилибрия: <a href="https://anilibria.tv" target="_blank">https://anilibria.tv</a></div>
    <div>Исходный код:  <a href="https://github.com/AlexDev505/AniTogether" target="_blank">github</a></div>
    <div id="dsc">Весь материал в приложении представлен исключительно для домашнего ознакомительного просмотра.</div>
  </div>
</div>

<div id="info-overlay" class="overlay" data-align="center" data-close-text="true" data-easy-close="true">
  <div id="info-overlay-content" class="overlay-content">
    <div id="info-text" class="info-text">{{ info }}</div>
  </div>
</div>

<div id="loading-overlay" class="overlay" data-align="center" data-unclosable="true">
  <div id="loading-overlay-content" class="overlay-content">
    <div id="loading-text" class="info-text">создание комнаты</div>
    <div class="info-text">пожалуйста, подождите...</div>
    <img src="{{url_for('static', filename='images/loading.gif')}}">
  </div>
</div>

<div id="versions-overlay" class="overlay" data-align="top-left" data-close-btn="true">
  <div id="versions-overlay-content" class="overlay-content">
    <div>
      <div class="info-text">Доступна новая версия приложения</div>
      <div class="version">текущая версия: {{version}}</div>
      <div class="version">новейшая версия: <span id="last-version"></span></div>
      <div id="update-btn" onclick="update_app()">Обновить</div>
    </div>
  </div>
</div>

{% endblock %}