{% extends 'base.html' %}

{% set ns = namespace(resolution='') %}

{% block head %}

<link href="https://vjs.zencdn.net/8.3.0/video-js.css" rel="stylesheet"/>
<script defer src="https://vjs.zencdn.net/8.3.0/video.min.js"></script>
<link rel="stylesheet" href="{{url_for('static', filename='css/player.css')}}">
<script defer src="{{url_for('static', filename='js/player.js')}}"></script>
<script>
var anilibria_storage_url = "{{ anilibria_storage_url }}"
var room_id = "{{ room_id }}"
var title = {{ title | tojson | safe }}
var episode = "{{ episode }}"
var resolution = "{{ resolution }}"
var volume = {{ volume }}
var host = "{{ host }}"
</script>

{% endblock %}

{% block body %}

<div id="room-loading">
  <div class="pulse-animation"></div>
  <img src="{{url_for('static', filename='images/loading.gif')}}">
</div>

<video id="my-video" class="video-js vjs" controls muted preload="auto" data-setup="{}"></video>

<div id="episodes-overlay" class="overlay" data-align="left">
  <div id="episodes-overlay-content" class="overlay-content">
    <div class="overlay-title">Эпизоды</div>
    <div id="episodes-list">
    </div>
  </div>
</div>

<div id="room-overlay" class="overlay" data-align="left">
  <div id="room-overlay-content" class="overlay-content">
    <div class="overlay-title">
      Комната № <span id="room-id" onclick="navigator.clipboard.writeText(this.innerHTML)"></span>
    </div>
    <hr>
    <div id="room-settings">
      <div id="room-settings-title">Настройки комнаты</div>
      <label class="checkbox"><input type="checkbox" id="mute-new-members" onchange="setMuteNewMembers(this.checked)">Заглушать новых участников</label>
    </div>
    <hr>
    <div id="members-list-container">
      <div id="member-list-title">Участники</div>
      <div id="members-list"></div>
    </div>
  </div>
</div>

<div id="requests-overlay"></div>

{% endblock %}