:root {
  --root-bg: rgb(18,18,18);
}

* {
  color: #FFF;
  font-family: "Roboto",sans-serif;
  font-weight: bold;
}
html, body {margin: 0px; height: 100%; background-color: black}

button {cursor: pointer;}

::-webkit-scrollbar {
    width: 9px;
    background-color: rgb(29,29,29);
}
::-webkit-scrollbar-thumb {
    background-color: #353535;
}

#top-bar {
  height: 40px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 7px;
}
#logo {color:rgb(158,158,148); font-size: small}
#top-bar button {
position: relative;
  width: 25px;
  height: 25px;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  transition: all .15s ease-in-out;
}
#top-bar button::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 50%;
  background: rgba(110,110,110,1);
  mix-blend-mode: lighten;
  transition: all 0.15s ease;
  transform-origin: center;
  transform: scale(0);
}
#top-bar button:hover, #top-bar button:focus {
  background-color: rgb(20, 20, 20);
}
#top-bar button:focus {
  background-color: rgb(61,61,61);
}
#top-bar button:active::before {
  transform: scale(1);
}

#central-frame {
  height: calc(100% - 40px);
  background-color: var(--root-bg);
}

.size-grip {
  position: absolute;
  width: 8px;
  height: 8px;
}
.corner-grip {z-index: 1001}
.corner-grip[data-place="top-left"] {
  top: 0; cursor: nw-resize
}
.corner-grip[data-place="top-right"] {
  top: 0; right: 0; cursor: ne-resize
}
.corner-grip[data-place="bottom-right"] {
  bottom: 0; right: 0; cursor: nw-resize
}
.corner-grip[data-place="bottom-left"] {
  bottom: 0; cursor: ne-resize
}
.side-grip {z-index: 1000}
.side-grip[data-place="left"] {
  top: 0; height: 100%; cursor: e-resize
}
.side-grip[data-place="top"] {
  top: 0; width: 100%; cursor: n-resize
}
.side-grip[data-place="right"] {
  top: 0; right: 0; height: 100%; cursor: e-resize
}
.side-grip[data-place="bottom"] {
  bottom: 0; width: 100%; cursor: n-resize
}
