body {overflow: hidden;}
#central-frame {overflow: auto}
#container {padding: 30px 5vw 50px 5vw; height: calc(100% - 80px)}

#room-actions-frame {
  font-size: larger;
  display:flex;
  margin-bottom: 20px
}
.room-actions-frame-item {width: 50%}
.room-actions-frame-item-title {display: flex}
.room-actions-frame-item-title img {height: 1em; margin-right: 5px}

.input-line {display: flex; margin-top: 10px;}
.input-line input {
  background-color: rgb(30,30,30);
  border: none;
  padding: 8px;
  border-radius: 4px 0 0 4px;
  width: -webkit-fill-available;
  font-size: smaller;
  outline: none;
}
.input-line button {
  border-radius: 0 4px 4px 0;
  border: none;
  background-color: rgb(30,30,30);
}
.input-line img {
  width: 24px;
  transition: transform .2s ease-in-out;
  transform-origin: center;
}
#search-result-container {
  position:absolute;
  background-color: rgb(30,30,30);
  margin-top: calc(1em + 18px + 5px);
  z-index: 10;
  transition: all .15s ease-in-out;
  max-height: 304px;
  overflow-y: auto;
  overflow-x: hidden;
  min-width: calc(50% - 15px - 5vw);
  max-width: calc(100% - 10vw - 5px);
  padding: 8px 0;
  box-shadow:
    0px 5px 5px -3px rgb(0 0 0 / 20%),
    0px 8px 10px 1px rgb(0 0 0 / 14%),
    0px 3px 14px 2px rgb(0 0 0 / 12%);
}
.search-result-item {
  cursor: pointer;
  user-select: none;
  align-items: center;
  display: flex;
  flex: 1 1 100%;
  letter-spacing: normal;
  min-height: 48px;
  outline: none;
  padding: 0 16px;
  position: relative;
  text-decoration: none;
  transition: background-color .2s cubic-bezier(0.25, 0.8, 0.5, 1);
}.search-result-item::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgb(100,100,100);
  mix-blend-mode: lighten;
  transition: all 0.05s ease;
  transform-origin: center;
  transform: scale(0);
}
.search-result-item:hover {background-color: rgb(48,48,48)}
.search-result-item:active::before {transform: scale(1)}
.search-result-item-poster {
  margin-bottom: 8px;
  margin-top: 8px;
  margin-right: 16px;
  height: 40px;
  min-width: 40px;
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
}
.search-result-item-title {
  padding: 8px 0;
  font-size: .8125rem;
  font-weight: 500;
  line-height: 1rem;
  overflow-x: hidden;
}
.search-result-item-title>* {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.search-result-item-title>*:not(:last-child) {
    margin-bottom: 2px;
}
.search-result-item-title-alt {color: rgba(255,255,255,.7)}

hr {
  height: 1px;
  border: none;
  background: rgb(47,47,47)
}

#history-frame {
  margin-top: 20px;
  font-size: larger;
}
#history-container {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 auto;
  margin-right: -4px;
  margin-left: -4px;
}
.history-item {
  width:100%;
  flex: 0 0 25%;
  max-width: 25%;
}
@media (min-width: 1264px) {
  .history-item {
    flex: 0 0 16.6%;
    max-width: 16.6%;
  }
}
.history-item-card {
  cursor: pointer;
  overflow: hidden;
  position: relative;
  display: flex;
  margin:4px;
  background: #424242 !important;
  border-radius: 4px;
  width: calc(100% - 8px);
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
   0px 2px 2px 0px rgb(0 0 0 / 14%),
   0px 1px 5px 0px rgb(0 0 0 / 12%);
}
.poster-sizer {
  transition: padding-bottom .2s cubic-bezier(0.25, 0.8, 0.5, 1);
  flex: 1 0 0px;
}
.history-item-poster {
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
}

.progress-bar {
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  width:100%;
  height: 5px;
  bottom: 0;
  position: absolute;
  transition: all .15s ease-in-out;
  border-radius: 0 0 4px 4px;
}
.progress-bar div {
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
  transition: inherit;
  background-color: #b32121 !important;
}
.progress-bar span {
  display: flex;
  overflow: hidden;
  height: 0px;
  align-items: center;
  font-size: .75rem;
  bottom: 0;
  left: 0;
  padding-left: 16px;
  position: absolute;
  transition: inherit;
  transition: all .15s ease-in-out;
  transform-origin: bottom;

}
.history-item-card:hover .progress-bar {height: 25px;}
.history-item-card:hover .progress-bar span {height: 100%;}

.overlay {
  z-index: 100;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: inherit;
  user-select: none;
  transition: transform 0.3s;
}
.overlay-bg {
  opacity: 0.46;
  background-color: rgb(33, 33, 33);
  width: 100%;
  height: 100%;
  display: flex;
}
.overlay-content {
  position: absolute;
  top: 0px;
  right: 0;
  padding:  16px;
  background-color: rgb(30,30,30);
  width: 400px;
  height: 100%;
  overflow: auto;
  transition: transform 0.3s;
}

#app-title {
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-size: 1.25rem;
}
#version {font-size:smaller}
.overlay-content div {margin-top: 2px; margin-bottom: 2px}
#dsc {margin-top: 0.5em}